

@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Julius+Sans+One&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
	background-color: #000;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #000;
}

.main {
	font-family: 'Cinzel', serif;
	color: white;
	letter-spacing: 0.1rem;
}

.navbar-brand {
	font-family: 'Cinzel', serif;
	letter-spacing: 0.25rem;
}

a {
	color: white;
}

a:hover {
	color: #CCC;
}

.page-title {
	font-size: 50px;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}

.page-title:hover{
	color: #888;
}

.subtitle {
	color: #AAA;
}

.button:hover{
	background-color: #222;
	color: #AAA;
}

img {
	width: 100px;
}

footer {
  background-color: #111;
  color: #444;
  font-size: 12px;
  height: 30px;
}

footer a{
	color: #444;
}

.node {
	font-family: 'Source Code Pro', monospace;
}

.node-btn {
	height: 40px;
}

.node-btn:hover{
	background-image: linear-gradient(to right, #000 , #333);
	color: #AAA;
	cursor:pointer;
}
