body {
	background-color: #000;
	color: #CCC;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #000;
}

.main {
	font-family: 'Cinzel', serif;
	color: white;
	letter-spacing: 0.1rem;
}


button:focus {outline:0;}

.navbar-brand {
	font-family: 'Cinzel', serif;
	letter-spacing: 0.25rem;
}

a {
	color: #888;
}

a:hover {
	color: #AAA;
}

.page-title {
	font-size: 50px;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}

.page-title:hover{
	color: #888;
}

.button:hover{
	background-color: #222;
	color: #AAA;
}

header {
	background-color: #111;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
  	border-color: rgb(111,111,111);
}

img {
	width: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 1px;
  background-color: #111;
  color: #AAA;
  font-size: 12px;
}