body {
	background-color: #000;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #000;
}

.main {
	font-family: 'Cinzel', serif;
	color: white;
	letter-spacing: 0.1rem;
}

.navbar-brand {
	font-family: 'Cinzel', serif;
	letter-spacing: 0.25rem;
}

a {
	color: white;
}

a:hover {
	color: #CCC;
}

.page-title {
	font-size: 50px;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}

.page-title:hover{
	color: #888;
}

.button:hover{
	background-color: #222;
	color: #AAA;
}

header {
	background-color: #111;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
  	border-color: rgb(111,111,111);
}

img {
	width: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #111;
  color: #444;
  font-size: 12px;
  height: 30px;
}

footer a{
	color: #444;
}

.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(0%, black));
}