body {
	background-color: #000;
	color: white;
}

nav {
	background-color: #000;
	height: 53px;
}

a {
	font-family: 'Quattrocento', serif;
	color: white;
	letter-spacing: 0.1rem;

}

button:focus {outline:0;}

.navbar-brand {
	font-family: 'Quattrocento', serif;
	letter-spacing: 0.25rem;
}


.button:hover{
	background-color: #222;
	color: #AAA;
}

header {
	background-color: #111;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
  	border-color: rgb(111,111,111);
}

img {
	width: 7.5%;
	border: 1px solid white;
	border-color: rgb(111,111,111);
}